* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


.hero {
  position: relative;
  height: 70vh;
  background: url("https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png") center/cover no-repeat;
  color: white;
}
.hero::after {
  
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5);
}


.navbar {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}
.logo {
  font-size: 1.8rem;
  font-weight: bold;
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}
.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}


.hero-content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}
.hero-content h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}
.search-box {
  display: flex;
  gap: 10px;
}
.search-box input {
  padding: 12px;
  border: none;
  border-radius: 5px;
  width: 280px;
}
.search-box button {
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  background: #e23744;
  color: white;
  cursor: pointer;
}
.search-box button:hover {
  background: #b42030;
}


.cities {
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 20px;
  text-align: center;
}
.cities h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.cities p {
  color:white;
  margin-bottom: 30px;
}
.city-grid {
  color:black;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}
.city-card {
  background: white;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}
.city-card:hover {
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transform: translateY(-3px);
}
.arrow {
  font-weight: bold;
}
